body {
  font-family: sans-serif;
}

td.category {
  background-color: #eeeeee;
  color: #444444;
}

a.unknown {
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.5em;
  color: #666666;
}

