packages:
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  01get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02npm_install:
    command: sudo yum -y --enablerepo=epel install nodejs npm
  03grunt_install:
    command: sudo npm install -g grunt-cli
container_commands:
  01npm_install:
    command: npm install
  02grunt:
    command: grunt
