html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

#appContainer {
  height: 100%;
}

.part .name {
  cursor: pointer;
}

.part .name {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.part .diff-gone .name, .value .diff-gone {
  text-decoration: line-through;
  color: #aaaaaa;
}

.part .diff-new .name {
  color: green;
}

.value .diff-positive {
  color: green;
}

.value .diff-negative {
  color: red;
}

.partEntry .name {
  overflow: visible;
}

.dropdown-menu>li>input {
  margin: 3px 20px;
  background-color: #fdfdfd;
  color: #337ab7;
}

.category {
  background-color: #eeeeee;
  color: #444444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.part .name, .part .category, .partEntry .category {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.part .additional .name, .part .additional .category {
  padding-top: 0em;
  padding-bottom: 0.5em;
}

.part {
  border-bottom: solid 1px #dddddd;
}

.build-parts .alert {
  margin-bottom: 0px;
}

.react-autosuggest, .typeahead-tokenizer {
  position: relative;
}

.react-autosuggest input {
  width: 100%;
}

.react-autosuggest input:focus, .typeahead input:focus {
  outline: none;
}

.react-autosuggest__suggestions {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 2;
}

.react-autosuggest__suggestions-section-name {
    color: #444444;
}

.react-autosuggest__suggestion {
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.typeahead {
    border:  none;
    flex-grow: 1;
    position: relative;
}

.typeahead-tokenizer {
    border: solid 1px #e0e0e0;
    border-radius: 4px;
    background-color: #fdfdfd;
    display: flex;
    cursor: text;
}

.typeahead-token {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.typeahead input[type="text"] {
    border: none;
    background-color: inherit;
    font-size: large;
    width: 100%;
    padding: 0.7em 0.2em 0.7em 0.3em;
    position: relative;
}

.typeahead-token {
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    padding: .2em;
    background-color: #f8f8f8;
    margin-left: 0.5em;
    padding-left: 6px;
}

.typeahead-token-close {
    color: #777777;
    /* background-color: #dddddd; */
    padding-left: 4px;
    padding-right: 4px;
    font-size: larger;
    font-weight: bolder;
}

.typeahead-option {
  color: #777777;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hover .typeahead-option {
  color: #333333;
}

.typeahead-selector {
  position: absolute;
  width: 100%;
  margin: 0;
  padding-left: 0.3em;
  list-style-type: none;
  z-index: 2;

  background-color: #FDFDfd;
  border-left: solid 1px #E0E0e0;
  border-right: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
}

.panel-title button {
  float: right;
}

.partEntry .name {
  padding-left: 0px;
  padding-right: 0px;
}

a.unknown {
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.5em;
  color: #666666;
}

.links li + li:before {
    content: " • ";
}

.links li {
  display: inline;
}

ul {
    list-style: none outside none;
    padding-left: 0.5em;
}

.navbar-brand img {
  height: 100%;
}

.build-card .row, .part .row, .partEntry .row {
  margin-left: -1px;
  margin-right: 0px;
}

.build-card .col-xs-8, .build-card .col-xs-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.build-card {
  cursor: pointer;
  font-size: 1.15em;
}

.build-card small {
  color: #888888;
}

.build-card .thumb {
  padding-left: 0px;
  padding-right: 0px;
}

.build-card hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.build-card .snippet {
  padding-top: 15px;
}

.clipped-image {
  background-size: cover;
  background-position: center;
}

.small-video {
  width: 33.3333%;
  display: inline-block;
  position: relative;
}

.large-video {
  position: relative;
}

.small-video.not-active {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.photo-thumb, #photo-container .more {
  width: 33.33334%;
}

.photo-thumb {
  display: inline-block;
  position: relative;
}

.delete {
  position: absolute;
  top: 50%;
  text-align: center;
  color: red;
  font-weight: bold;
  width: 100%;
  text-anchor: center;
  visible: hidden;
}

.maybe-delete .clipped-image, .maybe-delete img {
    -webkit-filter: grayscale(100%) brightness(25%);
}

.build-photos .control-label, .build-videos .control-label {
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.build-photos .help-block, .build-videos .help-block {
    padding-left: 0.5em;
}

.more {
  display: inline-flex;
  cursor: pointer;
}

.more div {
  margin: auto;
  font-weight: bolder;
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}

#photo-container {
  display: flex;
  flex-wrap: wrap;
}

.disclaimer {
  color: #888888;
}

.pids h3 {
  text-align: center;
  background-color: #f0f0f0;
  margin-bottom: 0px;
  color: #444444;
  font-size: 1.3em;
  padding-top: 5px;
  border-top: solid 1px #ddd;
  border-collapse: collapse;
  padding-bottom: 5px;
}

.pids h3:first-of-type {
  margin-top: 0px;
  border-bottom: solid 1px #ddd;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-left: 6px;
  }
}

/* from bootstrap */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
