html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

#appContainer {
  height: 100%;
}

.part .name {
  cursor: pointer;
}

.part .name {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.part .diff-gone .name, .value .diff-gone {
  text-decoration: line-through;
  color: #aaaaaa;
}

.part .diff-new .name {
  color: green;
}

.value .diff-positive {
  color: green;
}

.value .diff-negative {
  color: red;
}

.partEntry .name {
  overflow: visible;
}

.category {
  background-color: #eeeeee;
  color: #444444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.part .name, .part .category, .partEntry .category {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.part .additional .name, .part .additional .category {
  padding-top: 0em;
  padding-bottom: 0.5em;
}

.part {
  border-bottom: solid 1px #dddddd;
}

.build-parts .alert {
  margin-bottom: 0px;
}

.react-autosuggest {
  position: relative;
}

.react-autosuggest input {
  width: 100%;
}

.react-autosuggest input:focus {
  outline: none;
}

.react-autosuggest__suggestions {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 2;
}

.react-autosuggest__suggestions-section-name {
    color: #444444;
}

.react-autosuggest__suggestion {
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.panel-title button {
  float: right;
}

.partEntry .name {
  padding-left: 0px;
  padding-right: 0px;
}

a.unknown {
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.5em;
  color: #666666;
}

.links li + li:before {
    content: " • ";
}

.links li {
  display: inline;
}

ul {
    list-style: none outside none;
    padding-left: 0.5em;
}

.navbar-brand img {
  height: 100%;
}

.build-card .row, .part .row, .partEntry .row {
  margin-left: -1px;
  margin-right: 0px;
}

.build-card .col-xs-8, .build-card .col-xs-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.build-card {
  cursor: pointer;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.build-card small {
  color: #888888;
}

.disclaimer {
  color: #888888;
}

.pids h3 {
  text-align: center;
  background-color: #f0f0f0;
  margin-bottom: 0px;
  color: #444444;
  font-size: 1.3em;
  padding-top: 5px;
  border-top: solid 1px #ddd;
  border-collapse: collapse;
  padding-bottom: 5px;
}

.pids h3:first-of-type {
  margin-top: 0px;
  border-bottom: solid 1px #ddd;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-left: 6px;
  }
}

/* from bootstrap */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
