html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0px;
}

#appContainer {
  height: 100%;
}

.part .name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.category {
  background-color: #eeeeee;
  color: #444444;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.part .name, .part .category {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

a.unknown {
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-left: 0.5em;
  color: #666666;
}

.links li + li:before {
    content: " • ";
}

.links li {
  display: inline;
}

ul {
    list-style: none outside none;
    padding-left: 0.5em;
}

.navbar-brand img {
  height: 100%;
}

/* from bootstrap */
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.SwipeViewsTab {
  cursor: pointer;
}
